
<div [ngClass]="{'button-in-msg' : message.metadata && message.metadata.button}" [ngStyle]="{'padding': (message.type == 'image')?'0px':'0 8px'}" class="messages msg_sent primary-color"  [class.emoticon]="message.emoticon">
  
  <!-- message type:: image -->
  <div>
      <!-- <div *ngIf="message.type == 'image' && message.metadata"  [ngStyle] = "{ 'max-width': getSizeImg(message).width, 'max-height': getSizeImg(message).height }">
          <img class="message-contentX message-content-imageX" [src]="message.metadata.src" />
      </div> -->
      <tiledeskwidget-image *ngIf="message.type == 'image' && message.metadata"
        [metadata]="message.metadata"
        [width]="message.metadata.width"
        [height]="message.metadata.height">
      </tiledeskwidget-image>


      <!-- <img *ngIf="message.type == 'image' && message.metadata" class="message-contentX message-content-imageX"
      [src]="message.metadata.src" [width]="getSizeImg(message).width"
      [height]="getSizeImg(message).height" /> -->
  
      <!-- message type:: text -->
      <!-- <div *ngIf="message.type == 'text'"> -->     
      <div *ngIf="message.text" [tooltip]="timeTooltipLeft" [options]="tooltipOptions" placement="left" content-type="template" (click)="handleTooltipEvents($event)"> 
          <ng-template #timeTooltipLeft>
              <span>{{message.timestamp | amTimeAgo}}</span>
          </ng-template>
          
          <tiledeskwidget-text
            [text]="message.text"
            [color]="'col-msg-sent'"
            (onBeforeMessageRender)="returnOnBeforeMessageRender($event)"
            (onAfterMessageRender)="returnOnAfterMessageRender($event)">
          </tiledeskwidget-text>
          <!-- <p #messageEl class="message_innerhtml marked" [innerHTML]="printMessage(message, messageEl, this) | marked"></p> -->
          <!-- <div *ngIf="isPopupUrl(message.text); then contentPopup else contentNewTab">here
              is ignored</div>
          <ng-template #contentPopup>
              <p style="text-decoration: underline; padding:8px; cursor: pointer;"
                  (click)="popupUrl(g.windowContext, message.text,'windowName')">{{strip_tags(message.text)}}</p>
          </ng-template>
          <ng-template #contentNewTab>
              <p #messageEl [innerHTML]="printMessage(message, messageEl, this) | linky"></p>
          </ng-template> -->
      </div>

  </div>

</div>


<!-- icon status message -->
<div class="status-message">
    <div *ngIf="!message.status" class="icon c21-ico-schedule"></div>
    <div *ngIf="message.status == MSG_STATUS_SENT" class="icon c21-ico-done"></div>
    <div *ngIf="message.status == MSG_STATUS_SENT_SERVER" class="icon c21-ico-done"></div>
    <div *ngIf="message.status == MSG_STATUS_RETURN_RECEIPT" class="icon c21-ico-done_all"></div>
</div>


  



