<div *ngIf="conversation && g.isOpenNewMessage" id="messagePreview">
  <!-- message recipient:: -->
  

  <div role="messaggio" id="new_message">

    <div class="headerPreviewMessage">

        <div class="boxButtons">
          
          <div role="button" tabindex="0" class="buttonMore" (click)="openConversationByID(conversation)">
            <span>View more</span>
          </div>

          <div aria-label="Dismiss" role="button" tabindex="0" class="buttonClose" (click)="closeMessagePreview()">
            <span>
              <svg aria-labelledby="altIconTitle" height="20px" role="img" viewBox="0 0 24 24" width="20px" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(255, 255, 255);">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path>
              </svg>
            </span>
          </div>

        </div>

    </div>
    
    <div class="previewNewMessagge" (click)="openConversationByID(conversation)">
        <div role="messaggio" class="c21-text message_sender_fullname">{{conversation.sender_fullname}}</div>
        <img *ngIf="conversation.type == 'image' && conversation.metadata" class="message-content message-content-image"
            [src]="conversation.metadata.src" [width]="getSizeImg(conversation).width"
            [height]="getSizeImg(conversation).height" />


        <div *ngIf="conversation.type == 'text'" class="c21-box-text">
            <div *ngIf="isPopupUrl(conversation.last_message_text); then contentPopup else contentNewTab">here
                is ignored</div>
            <ng-template #contentPopup>
                <p class="c21-link"
                    (click)="popupUrl(g.windowContext, conversation.last_message_text,'windowName')">{{strip_tags(conversation.last_message_text)}}
                </p>
            </ng-template>
            <ng-template #contentNewTab>
                <p class="c21-text" [innerHTML]="conversation.last_message_text | linky"></p>
            </ng-template>
        </div>

        <div class="c21-time c21-text">
            <time *ngIf="conversation.timestamp !== '{.sv: timestamp}'" >{{conversation.timestamp  | amTimeAgo}} </time>
        </div>

        <div class="c21-icon-avatar">
            <div class="c21-avatar-image profile_image">
              <img src="{{conversation.image}}" onError="this.src = 'https://s3.eu-west-1.amazonaws.com/tiledesk-widget/dev/2.0.4-beta.7/assets/images/avatar_bot_tiledesk.svg'" />
            </div> 
        </div>
    </div>

  </div>

</div>