// =========== COLORS =============== //
$black: #1a1a1a;
$light-white: #f7f7f7;
$gray: #aaaaaa;
$light-gray: #eeeeee;
$red: red;
$danger: #a94442;
$blue: rgb(42, 106, 193);

$trasp-light-gray: rgba(191,191,191,0.2);
$trasp-black:rgba(0,0,0,0.8);
$trasp-light-black:rgba(0,0,0,0.2);

// $theme-color: rgb(42, 106, 193);
/** conversation **/
$bck-msg-sent: rgb(98, 168, 234);
$col-msg-sent: #ffffff;

$border-radius-bubble-message: 20px;
$button-in-msg-font-size: 15px;



