TRANSLATIONS_URL=https://tiledesk-server-pre.herokuapp.com
FIREBASE_APIKEY=CHANGEIT
FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
FIREBASE_PROJECT_ID=chat21-pre-01
FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
FIREBASE_MESSAGINGSENDERID=********
API_URL=https://tiledesk-server-pre.herokuapp.com




