<!-- [ngClass]="{'button-in-msg' : message.metadata && message.metadata.button}" -->
<!-- ngStyle]="{'padding': (isImage(message) || isFrame(message))?'1px':'0 8px'}" -->
<div [ngStyle]="{'padding': (isImage(message) || isFrame(message))?'0px':'0 8px', 'width': (isImage(message) || isFrame(message))? sizeImage?.width + 'px': null }" class="messages primary-color">
  
    
    <div>
      <!-- message type:: image -->
      <!-- <div *ngIf="message.type == 'image' && message.metadata"  [ngStyle] = "{ 'max-width': getSizeImg(message).width, 'max-height': getSizeImg(message).height }">
          <img class="message-contentX message-content-imageX" [src]="message.metadata.src" />
      </div> -->
  
      <!-- <img *ngIf="message.type == 'image' && message.metadata" class="message-contentX message-content-imageX"
      [src]="message.metadata.src" [width]="getSizeImg(message).width"
      [height]="getSizeImg(message).height" /> -->

      <!-- [width]="getMetadataSize(message.metadata).width"
      [height]="getMetadataSize(message.metadata).height" -->
      <chat-image *ngIf="isImage(message)"
        [metadata]="message.metadata"
        [width]="sizeImage?.width"
        [height]="sizeImage?.height"
        (onImageRendered)="onImageRenderedFN($event)">
      </chat-image>

      <chat-frame *ngIf="isFrame(message)"
        [metadata]="message.metadata"
        [width]="sizeImage?.width"
        [height]="sizeImage?.height">
      </chat-frame>

      <!-- <chat-frame *ngIf="message.metadata && message.metadata.type && message.metadata.type.includes('video')"
        [metadata]="message.metadata"
        [width]="message.metadata.width"
        [height]="message.metadata.height">
      </chat-frame> -->
    
      <!-- message type:: text -->
      <!-- <div *ngIf="message.type == 'text'"> -->     
      <div *ngIf="message?.text" [tooltip]="timeTooltipLeft" [options]="tooltipOptions" placement="left" content-type="template" (click)="handleTooltipEvents($event)"> 
          <ng-template #timeTooltipLeft>
              <span>{{message.timestamp | amTimeAgo}}</span>
          </ng-template>

          <!-- [htmlEnabled]="(message?.type==='html')? true : false" -->
          <chat-text *ngIf="message?.type !=='html'"
            [text]="message?.text"
            [color]="fontColor"
            [fontSize]="fontSize"
            [fontFamily]="fontFamily"
            (onBeforeMessageRender)="returnOnBeforeMessageRender($event)"
            (onAfterMessageRender)="returnOnAfterMessageRender($event)">
          </chat-text>

          <chat-html *ngIf="message?.type==='html'"
            [htmlText]="message?.text"
            [fontSize]="stylesMap.get('buttonFontSize')"
            [themeColor]="stylesMap.get('themeColor')"
            [foregroundColor]="stylesMap.get('foregroundColor')">
          </chat-html>
          <!-- <p #messageEl class="message_innerhtml marked" [innerHTML]="printMessage(message, messageEl, this) | marked"></p> -->
          <!-- <div *ngIf="isPopupUrl(message.text); then contentPopup else contentNewTab">here
              is ignored</div>
          <ng-template #contentPopup>
              <p style="text-decoration: underline; padding:8px; cursor: pointer;"
                  (click)="popupUrl(g.windowContext, message.text,'windowName')">{{strip_tags(message.text)}}</p>
          </ng-template>
          <ng-template #contentNewTab>
              <p #messageEl [innerHTML]="printMessage(message, messageEl, this) | linky"></p>
          </ng-template> -->
        </div>
  
    </div>
  
  </div>
  
  <!-- icon status message -->
  <!-- <chat-return-receipt *ngIf="isSender"
    [status]="message.status">
  </chat-return-receipt> -->


  



