@import '../../../../sass/variables';
/* ====== SET MESSAGES ====== */

.messages {
    border-radius: $border-radius-bubble-message;
    padding: 0;
    word-wrap: break-word;
    // padding: 14px;
    // padding: 6px 6px 6px 6px;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    // -webkit-animation: heartbeat 1.5s ease-in-out both;
    // animation: heartbeat 1.5s ease-in-out both;

    // p {
    //     font-size: 1.4em;
    //     margin: 0;
    //     padding: 14px;
    //     font-style: normal;
    //     letter-spacing: normal;
    //     font-stretch: normal;
    //     font-variant: normal;
    //     font-weight: 300;
    //     overflow: hidden;
    // }
    
    img {
        border-radius: $border-radius-bubble-message;
        padding: 3px;
        margin-bottom: 0px;
        max-width: calc(100% - 6px);
        width: auto;
        height: auto;
        object-fit: cover;
    }
    .message_innerhtml {
        margin: 0px;
        // padding: 0px 14px;
        &.marked{
            padding:8px;
            margin-block-start: -1em!important;
            margin-block-end: -1em!important;
        }
        
        .text-message {
            padding-top: 14px;
        }
    }
    
}

.floating_like{
    position: fixed;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    /* top: 18px; */
    right: 10px;
    background-color: red;
    border-radius: 50%;
    --padding-end: 7px;
    --padding-start: 7px;
}