#c21-launcher-button {
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: block;
    margin: 20px;
    z-index: 1;
    // box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 20px;

    .launcher-button{
        width:100%; 
        height:100%; 
        padding:0px; 
        margin: 0px;
    }
}
.c21-divBudge {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    min-width: 12px;
    font-size: 1.2em;
    line-height: 16px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
    margin-top: -10px;
    display: inline-block;
}

@media (max-width: 451px) {
    #c21-launcher-button {
        //display: none;
    } 
}
