@import '../../../../sass/variables';

#chat21-form-container {
    padding: 0 0 30px 0;

    .c21-input-container {
        background-color: #fff;
        overflow: hidden;
        position: relative;
        height: 36px;
        margin: 10px 10px 0px 10px;
    }
    .text-danger {
        color: $danger;
        font-size: 1em;
        min-height: 20px;
        background-color: #ffffff;
        margin: 0px 10px 0px 10px;
    }
    .c21-input-container {
        border-bottom: 1px solid rgba(211, 212, 213, .4);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 0 0 7px 0;
        position: relative;

        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-flex;
        input, 
        select {
            width: 100%;
            margin: 0;
            border: 0;
            padding: 12px 0;
            background-color: #ffffff;
            vertical-align: middle;
        }
        input {
            display: block;
            padding: 11px 10px 8px 10px;
            color: #616161;
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.2em;
            -webkit-box-shadow: none;
            box-shadow: none;

            &.errors {
                border: 1px solid red;
            }
        }
        input::placeholder {
            color: rgb(179, 182, 184);
            font-weight: initial;
            opacity: 1; /* Firefox */
        }
        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            /* color: #cccccc; */
            color: rgb(179, 182, 184);
            font-weight: initial;
        }

        /* Remove input border colour */
        input:focus,
        input:active,
        input:hover,
        input:visited {
            box-shadow: none;
            background-color: #ffffff;
            outline: none;
        }
        
        /* Remove input background colour for Chrome autocomplete */
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
    }
}