<div>
  <form id="chat21-form-container" [formGroup]="preChatFormGroupCustom">
    <span *ngFor="let element of formArray">
        <div class="c21-input-container" *ngIf="element.type==='string'">
            <input class="form-control" tabindex="1411" type="text" id="form-field-name" [formControlName]="element.name" [placeholder]="element.label">
            <small [hidden]="preChatFormGroupCustom.get(element.name).valid || preChatFormGroupCustom.get(element.name).pristine">
                errorrrrr
            </small>
        </div>
        <div  *ngIf="element.type === 'label'">
          <label [innerHTML]="element.label"></label>
      </div>
        <div *ngIf="element.type === 'checkbox'">
            <input  class="form-check-input" 
                    type="checkbox" 
                    [formControlName]="element.name"
                    [class.errors]="submitted && preChatFormGroupCustom.get(element.name).errors">
            <label>{{element.label}}</label>
            <small [hidden]="preChatFormGroupCustom.get(element.name).valid || preChatFormGroupCustom.get(element.name).pristine">
              errorrrr checkbox 
            </small>
            <div *ngIf="submitted && preChatFormGroupCustom.get(element.name).errors">
              fild required or error present
            </div>
        </div>
    </span>
  </form>
  <button (click)="onSubmitPreChatForm()">
    prechatForm
  </button>
</div>
