@import '../../../sass/variables';
@import '../../../sass/normalize.css';

#chat21-home-component {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 100%;

    /*********  c21-header **********/
    .c21-header {
        min-height: 75px;
        height: 252px;
        .c21-header-container {
            padding: 24px 40px;
            width: auto;
            .c21-header-content {
                position: relative;
                .c21-logo {
                    height: 32px;
                    margin-bottom: 16px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto 0;
                        display: block;
                    }
                }
                .c21-text {
                    .c21-text-wellcome {
                        font-family: 'Google Sans';
                        overflow: hidden;
                        line-height: 1.2em;
                        font-weight: 400;
                        font-size: 3em; 
                    }
                    .c21-text-intro {
                        display: inline-block;
                        line-height: 3em; 
                        font-size: 1.4em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    /*********  c21-body **********/
    .c21-body {
        top: 0px;
        background-color: transparent;
        overflow: scroll;
        -webkit-box-shadow: inset 0 21px 4px -20px $trasp-light-black;
        box-shadow: inset 0 21px 4px -20px $trasp-light-black;
        .c21-body-container {
            padding: 0 16px;
            position: relative;
            .c21-body-content {
                position: relative;
                padding-top: 38%;
                margin: 60px 0 40px 0;
                .c21-cards {
                    .c21-card {
                        position: relative;
                        margin-bottom: 20px;
                        background-color: #ffffff;
                        border-radius: 3px;
                        font-size: 1.4em;
                        line-height: 1.4;
                        color: $black;
                        overflow: hidden;
                        -webkit-box-shadow: 0 4px 15px 0 $trasp-light-black, 0 1px 2px 0 $trasp-light-black;
                        box-shadow: 0 4px 15px 0 $trasp-light-black, 0 1px 2px 0 $trasp-light-black;
                    }
                } 
            } 
        }
    }

    /*********  c21-footer **********/
    .c21-footer {
        position: absolute;
        bottom: 0px;
        height: 30px;
        background-color: white;
        width: 100%;
        box-shadow: 0 -10px 10px 1px $trasp-light-gray;

        .c21-powered-by {
            height: 25px;
            text-align: center;
            padding: 0;
            margin: 5px 0;
            position: absolute;
            color: $gray;
            top: 0;
            left: 80px;
            right: 80px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: $gray;
                font-size: 1.1em;
                font-weight: 500;
                line-height: 22px;
            }
            b{
                font-weight: bolder;
            }
        }
        .build_version {
            display: none;
            font-size: 1em;
            color: $gray;
            position: absolute;
            bottom: 0px;
            right: 10px;
            line-height: 30px;
        }

        #c21-powered-by:hover {
            div.build_version {
                display: block;
            }
        }

    } 

    

}
  


/*********************************/
/******* CSS MOBILE VER **********/
/*********************************/

@media (max-width: 451px) {
    #chat21-container {
        .c21-header-button.close {
            display: flex;
        }
    } 
}