@import '../../../sass/variables';
// @import '../../../sass/normalize.css';



#chat21-home-component {
    position: absolute;
    width: 100%;
    height: 100%;

    /*********  Animations **********/
    &.start-animation .fade-in-top {
        -webkit-animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
        animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    }
    &.start-animation .fade-in-bottom {
        -webkit-animation: fade-in-bottom 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.0s;
        animation: fade-in-bottom 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.0s;
    }
    &.start-animation .fade-in-bottom-footer {
        -webkit-animation: fade-in-dw-up 1.0s ease-in 0.0s;
        animation: fade-in-dw-up 1.0s ease-in 0.0s;
    }


    /*********  c21-header **********/
    .c21-header {
        position: absolute;
        width: 100%;
        height: 252px;
        overflow: hidden;
        margin: 0;
        padding: 0;

        .c21-header-container {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            .c21-header-button {
                display: block;
                width: 100%;
                height: 70px;
                position: absolute;
                margin: 0;
            }
            .c21-header-content {
                position: relative;
                margin: 30px 40px 0px 40px;
                width: auto;
                height: auto;
                
                .c21-logo {
                    position: relative;
                    width: auto;
                    height: 32px;
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto 0;
                        display: block;
                    }
                }
                .c21-text {
                    font-family: 'Google Sans';
                    .c21-text-wellcome {
                        overflow: hidden;
                        line-height: 1.2em;
                        max-height: 2.4em;
                        font-weight: 400;
                        font-size: 3.0em; 
                        margin-bottom: 10px;
                    }
                    .c21-text-intro {
                        display: inline-block;
                        font-size: 1.4em;
                        font-weight: 300;
                        line-height: 1.2em;
                        max-height: 2.4em;
                    }
                }
            }
        }
    }

    /*********  c21-body **********/
    .c21-body {
        position: absolute;
        width: 100%;
        height: calc(100% - 30px); //100%;
        padding: 0px;
        margin: 0px;
        overflow: auto;
        background-color: #ffffff;
        top: 0;
        box-shadow: none;
        // .c21-body-container {
            // padding: 0 16px;
            // position: relative;

            .c21-body-content {
                position: relative;
                padding: 210px 10px 20px 10px;
                margin: 0;
                .c21-cards {
                    .c21-card {
                        position: relative;
                        margin-bottom: 20px;
                        background-color: #ffffff;
                        border-radius: 3px;
                        font-size: 1.4em;
                        line-height: 1.4;
                        color: $black;
                        overflow: hidden;
                        -webkit-box-shadow: 0 4px 15px 0 $trasp-light-black, 0 1px 2px 0 $trasp-light-black;
                        box-shadow: 0 4px 15px 0 $trasp-light-black, 0 1px 2px 0 $trasp-light-black;
                        z-index: 20;
                        text-align: left;
                    }
                } 
            } 
        // }
    }

    /*********  c21-footer **********/
    .c21-footer {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: white;
        box-shadow: 0 0px 10px 0px $trasp-light-gray;

        .c21-powered-by {
            height: 25px;
            text-align: center;
            padding: 0;
            margin: 5px 0;
            position: absolute;
            color: $gray;
            top: 0;
            left: 80px;
            right: 80px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: $gray;
                font-size: 1.1em;
                font-weight: 500;
                line-height: 22px;
            }
            b{
                font-weight: bolder;
            }
        }
        .build_version {
            display: none;
            font-size: 1em;
            color: $gray;
            position: absolute;
            bottom: 0px;
            right: 10px;
            line-height: 30px;
        }

        #c21-powered-by:hover {
            div.build_version {
                display: block;
            }
        }

    } 

    

}
  


/*********************************/
/******* CSS MOBILE VER **********/
/*********************************/

@media (max-width: 451px) {
    #chat21-container {
        .c21-header-button.close {
            display: flex;
        }
    } 
}