
<!-- tabindex="2000"-->
<div #homeComponent id='chat21-home-component' tabindex="2002" onFocus="document.querySelector('[aflistconv]').focus()">

    <!-- HEADER -->
    <div class="c21-header" 
    [ngStyle]="{'background-color': colorBck, 'color': g.themeForegroundColor, 'background-image': g.colorGradient }"
    (click)="hideMenuOptions()"
    >

        <div class="c21-header-container">
            <!-- ICON CLOSE CHAT -->
            <div class="c21-header-button" 
            [ngStyle]="{'display': (g.hideHeaderCloseButton)?'none':'block'}"
            >
                <div class="c21-close-button">
                    <button tabindex="2001" aria-label="    chiudi chat" 
                    class="c21-close-button-body" (click)="f21_close()">
                        <svg role="img" aria-labelledby="altIconTitle" [ngStyle]="{'fill': g.themeForegroundColor }" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/>
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
                            <!-- <title id="altIconTitle">{{BUTTON_CLOSE_CHAT}}</title> -->
                        </svg>
                    </button>
                </div>
            </div>

            <!-- CONTENT HEADER -->
            <div class="c21-header-content">
                <!-- LOGO HEADER -->
                <div *ngIf="g.logoChat == 'tiledesklogo'" class="c21-logo fade-in-bottom">
                    <img src="{{g.BASE_LOCATION + g.DEFAULT_LOGO_CHAT}}" alt="logo">
                </div>
                <div *ngIf="g.logoChat != 'nologo' && g.logoChat != 'tiledesklogo'" class="c21-logo fade-in-bottom">
                    <img src="{{g.logoChat}}" alt="logo">
                </div>
                <!-- MESSAGE HEADER -->
                <div class="c21-text fade-in-bottom">
                    <div class="c21-text-wellcome">{{g.wellcomeTitle}}</div>          
                    <div *ngIf="g.wellcomeMsg" class="c21-text-intro">{{g.wellcomeMsg}}</div>
                </div>
            </div>

        </div>

    </div>
    


    <!-- CONTENT -->
    <div class="c21-body" (click)="hideMenuOptions()">

        <!-- <div class="c21-body-container"> -->
            <div class="c21-body-content">
                <div class="c21-cards">
                    <div class="c21-card fade-in-top" [ngStyle]="{ 'border-top': '2.4px solid', 'border-top-color': g.themeColor50 }">
                        <tiledeskwidget-list-conversations 
                        [senderId]="senderId"
                        (eventNewConv)="returnNewConversation()" 
                        (eventSelctedConv)="returnSelectedConversation($event)"
                        (eventOpenAllConv)="returnOpenAllConversation()"
                        >
                        </tiledeskwidget-list-conversations>
                    </div>
                    
                </div>
            </div>
        <!-- </div> -->
        

    </div>


    <!-- FOOTER -->
    <div class="c21-footer fade-in-bottom-footer">
        <tiledeskwidget-menu-options
        (eventSignOut)="returnSignOut()" 
        ></tiledeskwidget-menu-options>
        <div id="c21-powered-by">
            <div tabindex="-1" class="c21-powered-by" [innerHTML]="g.poweredBy"></div>
            <div class="build_version">{{g.BUILD_VERSION}}</div>
        </div>
    </div>

</div>
