<form [formGroup]="form">
  <!-- <div class="c21-input-container" >
    <input 
      class="form-control" 
      tabindex="1411" 
      type="text" 
      id="form-field-name" 
      [formControlName]="element.name" 
      [placeholder]="element.label"
      [ngClass]="{'errors': form.controls[element.name].errors && form.controls[element.name].touched }">
    <!- - <small [hidden]="form.controls[element.name].valid || form.controls[element.name].pristine">
        Field required
    </small> - ->
  </div> -->
  <div class="form-group label-floating" id="div_input" #div_input
      [ngClass]="{'is-empty': !form.controls[element.name]?.value}">
    <label class="control-label">
      {{element.name}}
    </label>
    <textarea 
      [formControlName]="element.name"  
      [rows]="rows"
      type="text"
      class="form-control" 
      (focus)="onFocus()" 
      (focusout)="onFocusOut()">
    </textarea>
  </div>
  <div *ngIf="hasSubmitted && form.controls[element.name].errors && form.controls[element.name].hasError('required')" class="text-danger">
    {{translationErrorLabelMap.get('LABEL_ERROR_FIELD_REQUIRED')}}
  </div>
  <div *ngIf="hasSubmitted && form.controls[element.name].errors && form.controls[element.name].hasError('pattern') && element.errorLabel" class="text-danger">
    {{element.errorLabel}}
  </div>
</form>
