
<div id="chat21-container" [class.active]="isLogged">

    <!-- 
    ****** LAUNCHER BUTTON ******
    -->
    <app-launcher-button (eventOpenCloseHandler)="open_close_handler()"></app-launcher-button>

    <!-- 
    ****** WINDOW CHAT CONVERSATION ******
    -->
    <div *ngIf="g.isOpen" id="chat21-conversations" class="chat21-window chat21-sheet" [ngStyle]=" {'border-radius': '8px' }" [ngClass]="{'align-left' : align === 'left', 'align-right' : align === 'right', 'chat21-fullscreen' : fullscreenMode === true }">
        
        <div *ngIf="isOpenHome && senderId" class="modal-page" [class.active]="true">
            <app-home 
            [senderId]="senderId"
            (eventClose)="returnClose()" 
            (eventNewConv)="returnNewConversation()" 
            (eventSelctedConv)="returnSelectedConversation($event)"
            ></app-home>
        </div>

        <div *ngIf="isOpenConversation && senderId" class="modal-page" [class.active]="true">
            <app-conversation 
            [recipientId]="recipientId"
            [senderId]="senderId"
            (eventClose)="returnCloseConversation()" 
            (eventNewConv)="returnNewConversation()" 
            (eventSelctedConv)="returnSelectedConversation($event)"
            ></app-conversation>
        </div>
    
    
        <!-- 
        ****************************************
        ******* MODALE SELECT DEPARTMENT *******
        ****************************************
        -->
        <!-- <div class="modal-page" [class.active]="isOpenSelectionDepartment">
            <app-selection-department 
            (eventClosePage)="returnCloseModalDepartment()"
            (eventDepartmentSelected)="returnDepartmentSelected($event)" 
            ></app-selection-department>
        </div> -->
    

        <!-- 
        ****************************************
        *********** MODALE RATE CHAT ***********
        ****************************************
        -->
        <!-- <div class="modal-page" [class.active]="g.isOpenPrechatForm">
            <app-prechat-form
            (eventClosePage)="returnToHome()" 
            (eventCloseForm)="returnCloseForm()" 
            ></app-prechat-form>
        </div> -->

            
        <!-- 
        ****************************************
        *********** MODALE RATE CHAT ***********
        ****************************************
        -->
        <!-- <div class="modal-page" [class.active]="isWidgetActive">
            <app-star-rating-widget [themeColor]="themeColor" [themeForegroundColor]="themeForegroundColor" [parentAllowTranscriptDownload]="allowTranscriptDownload"></app-star-rating-widget>
        </div> -->


    </div>

    <!-- 
    *************************************************************    
    **************  NK EYE-CATCHER (aka CALLOUT) ****************
    ************************************************************* 
    -->
   <app-eyeeye-catcher-card></app-eyeeye-catcher-card>                                 
    
</div>