
@import url('https://fonts.googleapis.com/css?family=Google+Sans:200,400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons');
//https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' 

@import '../sass/variables';

tiledeskwidget-root{
    font-size: 10px;
    font-family: 'Roboto','Google Sans', Helvetica, Arial, sans-serif;
        // background-color: transparent;
        // z-index: 999999;
        // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        // font-size-adjust: none;
        // font-size: 10px;
        // font-style: normal;
        // letter-spacing: normal;
        // font-stretch: normal;
        // font-variant: normal;
        // font-weight: normal;
        // font: normal normal 100% "Helvetica Neue",Helvetica,Arial,sans-serif;
        // text-align: left;
        // -moz-text-align-last: initial;
        // text-align-last: initial;
        // text-decoration: none;
        // -webkit-text-emphasis: none;
        // text-indent: 0;
        // text-justify: auto;
        // text-shadow: none;
        // text-transform: none;
        // -webkit-animation: none 0 ease 0 1 normal;
        // animation: none 0 ease 0 1 normal;
        // -webkit-animation-play-state: running;
        // animation-play-state: running;
        // -webkit-backface-visibility: visible;
        // backface-visibility: visible;
        // background: none 0 0 auto repeat scroll padding-box transparent;
        // background-color: transparent;
        // background-image: none;
        // border: 0 none transparent;
        // border-radius: 0;
        // bottom: auto;
        // -webkit-box-decoration-break: slice;
        // box-decoration-break: slice;
        // box-shadow: none;
        // box-sizing: content-box;
        // -webkit-break-after: auto;
        // -moz-break-after: auto;
        // break-after: auto;
        // -webkit-break-before: auto;
        // -moz-break-before: auto;
        // break-before: auto;
        // -webkit-column-break-inside: auto;
        // page-break-inside: auto;
        // break-inside: auto;
        // caption-side: top;
        // clear: none;
        // clip: auto;
        // color: inherit;
        // color-profile: auto;
        // -webkit-column-count: auto;
        // -moz-column-count: auto;
        // column-count: auto;
        // -webkit-column-fill: balance;
        // -moz-column-fill: balance;
        // column-fill: balance;
        // -webkit-column-gap: normal;
        // -moz-column-gap: normal;
        // column-gap: normal;
        // -webkit-column-rule: medium medium #1f1f1f;
        // -moz-column-rule: medium medium #1f1f1f;
        // column-rule: medium medium #1f1f1f;
        // -webkit-column-span: 1;
        // -moz-column-span: 1;
        // column-span: 1;
        // -webkit-column-width: auto;
        // -moz-column-width: auto;
        // column-width: auto;
        // -webkit-columns: auto auto;
        // -moz-columns: auto auto;
        // columns: auto auto;
        // content: normal;
        // counter-increment: none;
        // counter-reset: none;
        // cursor: auto;
        // direction: ltr;
        // display: inline;
        // empty-cells: show;
        // -webkit-hyphens: manual;
        // -moz-hyphens: manual;
        // -ms-hyphens: manual;
        // hyphens: manual;
        // image-orientation: auto;
        // image-rendering: auto;
        // left: auto;
        // line-height: initial;
        // list-style: disc outside none;
        // margin: 0;
        // max-height: none;
        // max-width: none;
        // min-height: 0;
        // min-width: 0;
        // nav-down: auto;
        // nav-index: auto;
        // nav-left: auto;
        // nav-right: auto;
        // nav-up: auto;
        // opacity: 1;
        // orphans: 2;
        // outline: invert none medium;
        // outline-offset: 0;
        // overflow: visible;
        // padding: 0;
        // page-break-after: auto;
        // page-break-before: auto;
        // page-break-inside: auto;
        // -webkit-perspective: none;
        // perspective: none;
        // -webkit-perspective-origin: 50% 50%;
        // perspective-origin: 50% 50%;
        // position: static;
        // quotes: none;
        // resize: none;
        // right: auto;
        // ruby-align: auto;
        // ruby-overhang: none;
        // ruby-position: before;
        // ruby-span: none;
        // size: auto;
        // table-layout: auto;
        // top: auto;
        // -webkit-transform: none;
        // -ms-transform: none;
        // transform: none;
        // -webkit-transform-origin: 50% 50% 0;
        // -ms-transform-origin: 50% 50% 0;
        // transform-origin: 50% 50% 0;
        // -webkit-transform-style: flat;
        // transform-style: flat;
        // transition: all 0 ease 0;
        // unicode-bidi: normal;
        // vertical-align: baseline;
        // white-space: normal;
        // widows: 2;
        // word-break: normal;
        // word-spacing: normal;
        // word-wrap: normal;
        // z-index: auto;
        // text-align: start;
        // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;

    // ========= BEGIN: GENERIC CSS ========= //

    // ========= BEGIN: CSS TAG ========= //
    p, a, ul, li, h1, h2, h3, textarea, title, time, svg, small, link, label, input, img,
    form, font, code, button, br, b{
        all: unset;
    }

    a:link {
        all: unset;
        color: #ffffff;
    }
    /* visited link */
    a:visited {
        all: unset;
        color: #ffffff;
    }
    /* mouse over link */
    a:hover {
        all: unset;
        color: #ffffff;
    }
    /* selected link */
    a:active {
        all: unset;
        color: #ffffff;
    }
 

    // ========= END: CSS TAG ========= //
    div.clear {
        all: unset;
        clear:both;
    }
    .truncate{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .v-align-center{
        display: inline-flex;
        align-items: center;
        height: 100%;
        float: left;
    }
    .align-left {
        left:20px;
    }
    .align-right {
        right:20px;
    }

    // === CSS LINKS === //
    

    /* .messages.msg_receive a */
    .msg_receive a { 
        color: #03a5e8;
    }

    // === CSS BUTTON === //
    .c21-button-primary{
        width: auto;
        height: 40px;
        line-height: 40px;
        margin: 16px 0;
        padding: 0 24px;
        opacity: 1;
        text-align: center;
        font-size: 13px;
        border-radius: 40px;
        background-color: rgb(42, 106, 193);
        color: #ffffff;
        cursor: pointer;
        .c21-label-button {
            margin-left: 8px; 
            font-weight: 600;
        }
    }
    .c21-button-primary:hover,
    .c21-button-primary:focus,
    .c21-button-primary:active {
        outline-width: 0px;
        opacity: 0.8;
    }

    /* TIME */
    .time {
        font-size: 1em;
        color: #aaaaaa;
        text-align: left;
        margin: 0px;
        padding: 0px 40px;
        margin-top: -2px;
        background-color: transparent;
    }
    .time.sender{
        text-align: right;
        margin-right: 24px;
        padding: 0;
    }


    // ========= END: GENERIC CSS ========= //

    #chat21-container {
        display: none;
        font-family: 'Roboto','Google Sans', Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-stretch: normal;
        font-variant: normal;
        font-weight: normal;
        letter-spacing: normal;
        text-align: left;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        background-color: #ffffff;
        background-image: none;
        border: 0 none transparent;
        border-radius: 0;
        &.active{
            display: block;
        }
        
        
        /* CSS BOX CONTAINER */
        #chat21-conversations {
            border-radius: 0px;
            box-shadow: rgba(0,0,0,0.18) 0 0 38px;
            right: 20px;
            display: block;
            overflow-y: hidden;
        }
        .chat21-window {
            display: none;
            position: absolute;
            width: 376px;
            top: 20px;
            bottom: 90px; 
            right: 20px;
            overflow: hidden;
            background-color: #fff;
        }
        .chat21-fullscreen {
            width: 100%;
            height: 100%;
            right: 0px;
            left: 0px;
            bottom: 0px;
            border-radius: 0px;
            max-height: none;
        }
        

        /***************************
        ******** PAGE MODAL ********
        ****************************/
        .modal-page {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.0);
            opacity: 0;
            transition: all 0.2s;
            bottom: -100%;
            &.active {
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 1;
                transition: all 0.3s;
                bottom: 0px;
            }
            .modal-content {
                background-color: #fff;
                border: 0px solid rgba(0,0,0,0.2);
                border-radius: .3rem;
                padding: 0px;
                margin: 20px auto;
            }
            h1.modal-title {
                min-height: 30px;
                text-align: center;
                color: #2a6ac1;
                font-size: 1.2em;
            }
            h3.modal-title  {
                text-align: center;
                color: #333333;
                font-size: 0.9em;
                display: inline-block;
            }
            .modal-header button{
                color: #239C96;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }




    /**************
    // nk: .chat21-sheet CUSTOM DIMENSIONS WHEN THE WINDOW WIDTH IS < 451PX 
    ***************/

    @media (max-width: 451px) {
        #chat21-container {
            .header-button.close{
                display: flex;
            }
            .chat21-window {
                width: 100%;
                height: 100%;
                right: 0px;
                top: 0px;
                left: 0px;
                bottom: 0px;
                border-radius: 0px;
                max-height: none;
            }
        }
    }

}