/* DEFAULT CSS */
#chat21-container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    font: normal normal 100% "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    -moz-text-align-last: initial;
    text-align-last: initial;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-indent: 0;
    text-justify: auto;
    text-shadow: none;
    text-transform: none;
    -webkit-animation: none 0 ease 0 1 normal;
    animation: none 0 ease 0 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: none 0 0 auto repeat scroll padding-box transparent;
    background-color: transparent;
    background-image: none;
    border: 0 none transparent;
    border-radius: 0;
    bottom: auto;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-break-after: auto;
    -moz-break-after: auto;
    break-after: auto;
    -webkit-break-before: auto;
    -moz-break-before: auto;
    break-before: auto;
    -webkit-column-break-inside: auto;
    page-break-inside: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    color-profile: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-rule: medium medium #1f1f1f;
    -moz-column-rule: medium medium #1f1f1f;
    column-rule: medium medium #1f1f1f;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    image-orientation: auto;
    image-rendering: auto;
    left: auto;
    line-height: initial;
    list-style: disc outside none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    opacity: 1;
    orphans: 2;
    outline: invert none medium;
    outline-offset: 0;
    overflow: visible;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    position: static;
    quotes: none;
    resize: none;
    right: auto;
    ruby-align: auto;
    ruby-overhang: none;
    ruby-position: before;
    ruby-span: none;
    size: auto;
    table-layout: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
    transform-style: flat;
    transition: all 0 ease 0;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    widows: 2;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
    text-align: start;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.messages a:link {
    color: #ffffff!important;
}

/* visited link */
.messages a:visited {
    color: #ffffff;
}

/* mouse over link */
.messages a:hover {
    color: #ffffff;
}

/* selected link */
.messages a:active {
    color: #ffffff;
}


/* BUTTON */
#chat21-launcher-button {
    /* background-image : url("../assets/images/f21-logo-widget.svg"); */
    background-image : url("../assets/images/tiledesk-circle-shadow.svg");
    background-size: 90px 90px;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: fixed;
    z-index: 999999000;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-position: center;
    background-color: #ffffff00;
    border-color: #000000;
    /* box-shadow: 0 4px 32px 0 rgba(0,0,0,.175)!important; */
}

/* .icon_launcer {
    background-image : url("../assets/images/tiledesk-chat-ballon.svg");
} */

#chat21-container{
    display: none;
}

#chat21-container.active{
    display: block;
}
/* CSS BOX CONTAINER */
#chat21-container #chat21-conversations {
    box-shadow: rgba(0,0,0,0.18) 0 0 38px;
    right: 20px;
    display: block;
}
#chat21-container .chat21-sheet {
    z-index: 999999001;
    display: none;
    position: fixed;
    /* height: 80%; */
    height: 80%; /* nk */
    /* width: 320px; */
    width: 376px; /* nk */
    bottom: 100px;
    overflow: hidden;
    /* border-radius: 10px; */
    border-radius: 8px; /* nk */
    right: 20px;
    /* max-height: 400px; */
    overflow-y: auto;
    background-color: #fff;
}

/* // nk: .chat21-sheet CUSTOM DIMENSIONS WHEN THE WINDOW WIDTH IS < 451PX */
@media (max-width: 451px) {
    .chat21-sheet {
        width: 100% !important;
        height: 100% !important;
        right: 0px !important;
        left: 0px !important;
        bottom: 0px !important;
        border-radius: 0px !important;
        max-height: none !important;
    }
}

/* // nk: ALIGN LEFT chat21-launcher-button AND chat21-sheet*/
.align_left {
    left:20px;
}


/* CSS HEADER */
#chat21-container .chat21-sheet-header {
    background-color: #2a6ac1;
    z-index: 999999005;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
    box-shadow: 0px 5px 10px 1px rgba(191,191,191,0.7);
}
#chat21-container .chat21-sheet-header-title-container {
    z-index: 999999003;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    pointer-events: none;
}
#chat21-container .chat21-sheet-header-title {
    color: white !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    /* line-height: 48px; */
    font-weight: 500;
    color: #465c66;
    letter-spacing: .2px;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}
.chat21-header-writing{
    margin:0px;
    padding: 0px;
    font-size: 12px;
    color: #ffffff;
}

/* // nk: HIDE THE 'CLOSE BUTTON' IN THE sheet-header 
 * IF hideHeaderCloseButton === true
 */
.hide_header_close_btn {
    display: none;
}

/* // nk HIDE THE LABEL_FIRST_MSG IF wellcomeMsg !== '' */
.hide_LABEL_FIRST_MSG {
    display: none;
}

/* // nk DISPLAY THE wellcomeMsg IF wellcomeMsg !== '' 
 * (NOTE: initially the div of wellcomeMsg is hidden - see the template) */
.display_wellcomeMsg {
    display: block !important;
}

/* // nk: DISPLAY THE 'CLOSE BUTTON' IN THE sheet-header 
 * ONLY IF THE WINDOW WIDTH IS < OF 451PX
 */
@media (max-width: 451px) {
    #chat21-container .chat21-sheet-header-close-button {
        z-index: 999999004;
        position: relative;
        margin: 0 16px;
        height: 100%;
        cursor: pointer;
        float: right;
    }
}

/* // nk: DISPLAY THE 'CLOSE BUTTON' IN THE sheet-header 
 * ONLY IF THE WINDOW WIDTH IS < OF 451PX
 */
@media (max-width: 451px) {
    #chat21-container .chat21-sheet-header-button-icon-white {
        height: 100%;
        width: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image : url("../assets/images/f21ico-widgetclose_white.svg");
    }
}

/** CONTENT **/
#chat21-container .chat21-sheet-content {
    z-index: 999999004;
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 70px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image : url("https://user-images.githubusercontent.com/32448495/38979663-16c07520-43bb-11e8-8b83-186ac1df0745.jpg");
}
/* no conflict
https://stackoverflow.com/questions/28556520/jquery-widget-css-conflicts-with-third-party-site */
#chat21-conversations {
    overflow-y: hidden!important;
}
#chat21-conversations .panelShown{
    display: block;
}
#chat21-conversations .panelHidden{
    display: none;
}

/* SET SCROLLBAR */
#chat21-contentScroll{
    padding-top: 20px;
}

#chat21-conversations .chat21-conversation-parts-container::-webkit-scrollbar {
    width: 8px;
    background-color: #00000000!important;
} 
#chat21-conversations .chat21-conversation-parts-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #00000000!important;
}
#chat21-conversations .chat21-conversation-parts-container::-webkit-scrollbar-thumb {
    border-radius: 6px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    background-color: #00000040!important;   
} 

/* MESSAGE CONTAINER GENERAL */

#chat21-conversations .msg_container {
    overflow: hidden;
    display: flex;
}
#chat21-conversations .messages {
    border-radius: 14px;
    padding: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#chat21-conversations .messages p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 13px!important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    overflow: hidden;
}
#chat21-conversations .messages img {
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 0px;
    /* width: 100%;
    height: 100%; */
}

/* MESSAGE CONTAINER SENT */
#chat21-conversations .base_sent {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2px 10px 4px 40px;
}
#chat21-conversations .msg_sent {
    background-color: #62a8ea;
    color: #ffffff;
    margin-right: 0;
    margin-left: 4px;
    max-width: calc(100% - 30px);
    min-width: 14px;
}
/* icon status */
#chat21-conversations .base_sent .status-message{
    width: 16px;
    height: 16px;
    margin-left: 4px;
}
#chat21-conversations .base_sent .icon {
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
#chat21-conversations .base_sent .f21ico-schedule {
    background-image: url("../assets/images/f21ico-schedule.svg");
}
#chat21-conversations .base_sent .f21ico-done {
    background-image: url("../assets/images/f21ico-done.svg");
}
#chat21-conversations .base_sent .f21ico-done_all {
    background-image: url("../assets/images/f21ico-done_all.svg");
}

/* MESSAGE CONTAINER RECEIVE */
#chat21-conversations .base_receive{
    padding: 4px 10px 4px 10px;
}
/* avatar */
#chat21-conversations .content-avatar {
    position: relative;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    left: 0;
    top: 0;
    margin-right: 6px;
} 
/* .content-avatar .img_circle {
    border-radius: 50%!important;
} */
.profile_image{
    position:relative;
    width:25px;
    height:25px;
    border-radius:50%;
    overflow:hidden;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
}
.profile_image img{
    max-width:100%;
    min-width: 25px;
    min-height: 25px;
    object-fit: cover;
}
/* message */
#chat21-conversations .msg_receive{
    background-color: #f7f7f7;
    color: #000000;
    margin-right: 20px;
    margin-left: 0;
    max-width: calc(100% - 60px);
    min-width: 14px;
}
/* TIME */
#chat21-conversations .time {
    font-size: 0.7em;
    color: #aaaaaa;
    margin-bottom: 10px;
    margin-top: -2px;
    text-align: left;
    margin-left: 46px;
}
#chat21-conversations .time.sender{
    text-align: right;
    margin-right: 24px;
}

.message_sender_fullname{
    margin-top: 10px;
    font-size: 0.8em;
    color: #666;
    margin-left: 10px;
}



/* FOOTER CONTAINER */ 
#chat21-footer {
    z-index: 999999005;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    /* padding: 6px 16px 0 16px; */
    padding: 0px 0px 0px 0px;
    box-shadow: 0 -1px 10px 1px rgba(191,191,191,0.28);
    background: white;
}
#chat21-footer textarea {
    margin-bottom: 0px!important;
    padding: 10px!important;
    margin: 0px!important;
    line-height: normal!important;
    border: none!important;
    box-shadow: none!important;
    min-height: 40px!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
}

.chat21-textarea-button {
    width: 20px;
    height: 20px;
    position: absolute;
    /* right: 10px; */
    bottom: 40px;
    display: none;
}

.chat21-textarea-button.active {
    display: block;
}

#chat21-start-upload-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image : url("../assets/images/f21ico-photo.svg");
    /* background-color: #999999; */
    right: 4px;
}

#chat21-start-upload-doc {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image : url("../assets/images/f21ico-attached.svg");
    /* background-color: #999999; */
    /* left: 4px; */
    left: 0px;
    padding-left: 8px;
    padding-right: 8px;
}
#chat21-button-reset {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image : url("../assets/images/f21ico-close.svg");
    /* left: 10px;
    bottom: 25px;
    cursor: pointer; */
    left: 0px;
    padding-left: 8px;
    padding-right: 8px;
}
#chat21-button-send {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image : url("../assets/images/f21ico-send.svg");
    right: 0px;
    /* cursor: pointer; */
    padding-left: 8px;
    padding-right: 8px;
}

#chat21-footer .name-image {
    /* padding: 0px 40px 0px 30px;
    font-size: 10px;
    height: 20px;
    line-height: 18px; */
    display: none;
}
#chat21-footer .name-image.active {
    display: block;

    margin-bottom: 0px!important;
    padding: 10px!important;
    margin: 0px!important;
    line-height: normal!important;
    border: none!important;
    box-shadow: none!important;
    min-height: 26px!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
}

#chat21-file-selected {
   
}

#chat21-file-selected > span {
    font-size: 13px;
    position: relative;
    -ms-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    bottom: 0px;
}
 
#chat21-main-message-context {
    overflow-x: hidden;
    word-wrap: break-word;
    resize: horizontal;
    overflow-y: visible;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: #1a1a1a;
    min-width: 100%;
    outline: 0;
    resize: none!important;
    max-height: 180px;
    font-size: 13px;
    overflow: auto;
    border-radius: 5px;
}


.chat21b-box-new-conversation {
    margin: 6px;
    border-color: #2a6ac1;
    border-spacing: 10px;
    border-style: solid;
    border-width: 2px;
    height: 44px;
    position: relative;
    /* width: 304px; */
    width: 364px; /* nk */
    background-color: #ffffff;
    z-index: 100;
    font-size: 13px;
    color: #2a6ac1;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
}
.chat21b-box-new-conversation:disabled {
    opacity: 0.3;
}

#chat21-powered-by {
    width: 100%;
    text-align: center;
    clear: both;
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    padding: 0;
    height: 25px;
    width: 100%;
}
#chat21-powered-by a {
    text-decoration: none;
    color:#2a6ac1;
}

.build_version {
    display: none;
    font-size: 10px;
    color:#777777;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

div#chat21-end-footer:hover div.build_version{
    display: block;
}





/*** START SELECT DEPARTMENT ***/

.modal-page-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 999999900;
    opacity: 0;
    bottom: -100%;
    transition: all 0.2s;
}
.modal-page-filter.active {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    transition: all 0.3s;
    bottom: 0px;
    vertical-align: bottom;
}
.modal-page-filter .modal-content {
    position: absolute;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    top: 60px;
    bottom: 60px!important;
    left: 40px;
    right: 40px;
    padding:10px;
}
.modal-page-filter.active .modal-content{
    bottom: 120px;
}
.modal-page-filter h1.modal-title {
    min-height: 30px;
    /* padding: 7px; */
    /* border-bottom: 1px solid #e9ecef; */
    /* display: inline; */
    text-align: center;
    color: #2a6ac1;
    font-size: 1.2em;
}
.modal-page-filter  h3.modal-title  {
    text-align: center;
    color: #333333;
    font-size: 0.9em;
    display: inline-block;
}
.modal-page-filter .modal-header button{
    color: #239C96;
    font-size: 16px;
    font-weight: bold;
}

#chat21-modal-select {
    z-index: 999999006;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: calc(100% - 48px);
    background-color: rgba(255,255,255,.8);
}

.chat21-header-modal-select{
    padding: 20px;
    background-color: #b9b9b921;
    margin: 8px;
    line-height: 1.2em;
    color: #616161;
    font-size: 15px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 8px;
}

.chat21-content-modal-select {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    height: 255px;
    overflow-y: auto;
    /* width: 15em; */
  }
  .chat21-content-modal-select > li {
    cursor: pointer;
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 4px 10px 4px 10px;
    /* height: 24px; */
    /* font-weight: bolder; */
    font-size: 13px;
  }
  .chat21-content-modal-select li.selected:hover {
    /* background-color: #BBD8DC !important;
    color: white; */
  }
  .chat21-content-modal-select > li:hover {
    color: #2a69c1;
    /* background-color: #DDD;
    /* left: .1em; */
  }
  .chat21-content-modal-select .text {
    position: relative;
    /* top: -3px; */
  }
  .chat21-content-modal-select .chat21-badge {
    -webkit-box-sizing: initial;
    box-sizing: initial;
    display: inline-block;
    font-size: 12px;
    color: white;
    padding: 4px;
    background-color: #2a69c1;
    line-height: 14px;
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
    text-align: center;
    top: 0px;
  }
  .chat21-content-modal-select .chat21-title{
        margin-left: 30px;
        font-weight: initial;
        line-height: normal;
  }
  #chat21-modal-select ul {
    line-height: normal;
  }


  /*** END SELECT DEPARTMENT ***/

  



  /********* START FORM *********/
  #chat21-modal-form {
    position: absolute;
    height: calc(100% - 70px);
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    z-index: 999999900;
    top: 48px;
  }
  .chat21-button-new {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
  }

  .chat21-formMessageField {
    padding: 10px 20px;
    line-height: 1.2em;
    color: #616161;
    font-size: 15px;
    text-align: center;
    word-wrap: break-word;
  }

#chat21-formContainer .chat21-inputContainer {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    height: 33px;
    margin: 10px 10px 0px 10px;
}
#chat21-formContainer .text-danger {
    color: #a94442;
    font-size: 80%;
    /* float: left; */
    min-height: 20px;
    background-color: #ffffff;
    margin: 0px 10px 0px 10px;
  }
.chat21-inputContainer {
    /* padding: 0px 15px; */
    /* padding: 12px 10px!important; */
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 0 7px 0;
    position: relative;
}
.chat21-inputContainer > input {
    padding: 11px 10px 8px 10px!important;
    color: #777777!important;
    font-family: Arial!important;
    font-size: 13px!important;
    font-weight: bold!important;
    background-color: #ffffff!important;
    display: block!important;
    line-height: 1.2em!important;
    border: 0px solid #e1e1e1!important;
    outline: none!important;
    margin: 0!important;
    width: 100%!important;
    margin-bottom: 0px!important;
    background: #fff!important;
}

.chat21-inputContainer > input::placeholder {
    color: #cccccc;
    font-weight: initial;
    opacity: 1; /* Firefox */
}

.chat21-inputContainer > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
    font-weight: initial;
}

.chat21-inputContainer > input::-ms-input-placeholder { /* Microsoft Edge */
   color: #cccccc;
    font-weight: initial;
}


.chat21-inputContainer > input:focus{
    box-shadow: none!important;
    background-color: #ffffff!important;
}

.chat21-inputContainer > input, .chat21-inputContainer select {
    width: 100%;
    margin: 0;
    border: 0!important;
    padding: 12px 0;
    background-color: #ffffff!important;
}



.chat21-inputContainer > input, select {
    vertical-align: middle;
}
  


/* #Forms
================================================== */



.chat21-inputContainer .form-field-label.small {
    color: #b3b3b3;
    padding: 1px 0 0 0;
    /* display: none; */
    font-size: 10px!important;
    position: absolute;
    top: 0;
    left: 4px;
    font-weight: initial;
}

.chat21-inputContainer .form-field-label {
    color: #707070;
    font-family: Arial;
    font-size: 13px!important;
    font-weight: initial;
}
.chat21-inputContainer > input:focus {
    outline:none;
}
/********* END FORM *********/


#chat21-buttonToBottom {
    position: initial;
    margin-right: 10px;
    margin-top: -40px;
    float: right;    
    background-color:#ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 999999999;
    cursor: pointer;
    background-image: url("../assets/images/c21-down-gray.svg");
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#chat21-buttonToBottom:hover {
    background-color:#eee;
}

#chat21-divBudge{
    width: auto;
    height: 12px;
    border-radius: 10px;
    background-color: red;
    font-size: 11px;
    color: white;
    padding: 0px 3px 2px 3px;
    text-align: center;
    float: left;
    margin-top: -10px;
    min-width: 12px;
    line-height: 12px;
}

/* LOADING */
/*http://tobiasahlin.com/spinkit/*/
#chat21-spinner {
    min-height: 20px;
    display: none;
    margin: 20px auto 0;
    width: 70px;
    text-align: center;
}
#chat21-spinner.active {
    display: block;
}
#chat21-spinner > div {
    width: 12px;
    height: 12px;
    background-color: #2a69c1;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
#chat21-spinner .chat21-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
#chat21-spinner .chat21-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
#chat21-spinner span {
    display: block;
    margin: 0.5em 0 0 0;
    color: #2a6ac1;
    /* text-transform: uppercase; */
    font-family: 'Roboto', sans-serif;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
    animation: pulse 2000ms linear infinite;
    text-align: center;
  }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    }
}

/* END LOADING */


.chat21-agents-available {
    background-color: yellow;
    color: black;
    padding: 8px 4px 8px 4px;
    /* height: 32px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
     text-align: center;
     font-weight: 450;
}

/* resize and hide the text input area */
.hidden-text-area {
    visibility: hidden;
    height: 0px;
}

/* show and restore the text area size */
.visible-text-area {
    visibility: block;
    height: 100%;
}