<div class="c21-icon-avatar">
  <div class="c21-avatar-image profile_image">
      <!-- <img src="getUrlImgProfile(message.sender) {{getUrlImgProfile(message.sender)}}" onError="this.src = 'https://s3.eu-west-1.amazonaws.com/tiledesk-widget/v2/assets/images/line_avatar_male_tiledesk.svg'" /> -->
      <!-- <img [src]="url" (error)="onBotImgError($event)" /> -->
      <img *ngIf="senderID.indexOf('bot_') !== -1 || senderFullname === 'Bot'" [src]="url" (error)="onBotImgError($event)"/>
      <!-- is a HUMAN -->
      <img *ngIf="senderID.indexOf('bot_') === -1" [src]="url" (error)="onHumanImgError($event)" />
  </div> 
</div>

<!-- <div class="c21-pallozzo">
    <div class="c21-ball" [ngStyle] = "{ 'background-color':setColorFromString(agent.firstname) }" >
      <span class="c21-ball-label">{{avatarPlaceholder(agent.firstname)}}</span>
      <div *ngIf="agent.imageurl" #avatarImage class="c21-avatar-image" [style.background-image]="'url(' + agent.imageurl + ')'"></div>
    </div>
</div> -->

