<form [formGroup]="form">
  <div class="form-group label-floating" 
      [ngClass]="{'is-empty': !form.controls[element.name].value}"
      id="div_input" #div_input>
    <label class="control-label">
      {{element.label}}
    </label>
    <input 
      [formControlName]="element.name" 
      [type]="inputType"
      [tabIndex]="element?.tabIndex"
      class="form-control" 
      [class.errors]="form.controls[element.name].errors && hasSubmitted"
      (keydown.enter)="onEnterPressed($event)" 
      (focus)="onFocus()" (focusout)="onFocusOut()">
  </div>
  <div *ngIf="hasSubmitted && form.controls[element.name].errors && form.controls[element.name].hasError('required')" class="text-danger">
    {{translationErrorLabelMap.get('LABEL_ERROR_FIELD_REQUIRED')}}
  </div>
  <div *ngIf="hasSubmitted && form.controls[element.name].errors && form.controls[element.name].hasError('pattern') && element.errorLabel" class="text-danger">
    {{element.errorLabel}}
  </div>
</form>
