<form [formGroup]="form">
  <div class="c21-body-header-checkbox">
    <input  class="form-check-input errors" 
            type="checkbox" 
            [formControlName]="element.name"
            [checked]="element.value"
            [ngClass]="{'errors': hasSubmitted && form.controls[element.name].errors}">
    <label class="c21-form-message-field">{{element.label}}</label>
    <div *ngIf="hasSubmitted && form.get(element.name).errors" class="text-danger">
      {{translationErrorLabelMap.get('LABEL_ERROR_FIELD_REQUIRED')}}
    </div>
  </div>
</form>