.c21-header-label{
    padding: 10px 0px;
    // margin: 0px 12px;
    position: relative;
    left: 0;
    right: 0;
    .c21-form-message-field {
        padding: 0;
        margin: 0;
        line-height: 1.2em;
        color: #616161;
        font-size: 1.5em;
        text-align: center;
        word-wrap: break-word;
    }
}