<!-- [ngStyle] = "{ 'max-width': width +'px', 'max-height': height +'px' }" style="position: relative; text-align: center; margin: auto"-->
<div class="c21-img-container" >
  <div *ngIf="loading" class="loader" [ngStyle] = "{ 'width': width , 'height': height }"></div>
  <img 
    class="message-contentX message-content-imageX" 
    [ngClass]="{'isLoadingImage': loading}"
    [ngStyle] = "{ 'width': width, 'height': height }"
    [src]="metadata.src" 
    (load)="onLoaded($event)"
    (click)="downloadImage(metadata.src, metadata.name)"/>
  <ng-template #timeTooltipRight>
    <span>{{ tooltipMessage }}</span>
  </ng-template>
</div>
