<div id='c21-menu-options'>
  <div class="button-menu-options" (click)="f21_toggle_options()" >{{g.OPTIONS}}</div>

  <div *ngIf="g.isOpenMenuOptions" class="modal-menu-options" 
  [ngStyle]="{ 'border-top': '2.4px solid', 'border-top-color': themeColor50 }">
    <div class="" style="padding: 10px">
      <div class="c21-button" *ngIf="!g.isSoundActive" (click)="toggleSound()">{{g.SOUND_ON}}</div>
      <div class="c21-button" *ngIf="g.isSoundActive" (click)="toggleSound()">{{g.SOUND_OFF}}</div>
      <div class="c21-button" *ngIf="g.isLogged && g.isLogoutEnabled" (click)="signOut()">{{g.LOGOUT}}</div>
    </div>
  </div>

</div>