<style>
  .button {
    font-size: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid rgb(42, 106, 193);
    border-radius: 20px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    min-width: inherit;

    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    color: rgb(42, 106, 193);
    background: transparent;
    position: relative;
    font-family: 'Muli', sans-serif;

  }
  /* .buttonX {
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #333333;
    border: 2px solid rgb(42, 106, 193);
    border-radius: 6px;
  } */

  .button-success{
    background-color: white; 
    color: #333333;
    border: 1px solid rgb(28, 184, 65);
  }
  .button-error {
    background-color: white; 
    color: #333333;
    border: 1px solid rgb(202, 60, 60);
  }
  .button-warning {
    background-color: white; 
    color: #333333;
    border: 1px solid rgb(223, 117, 20);
  }
  .button-secondary {
    background-color: white; 
    color: #333333;
    border: 1px solid rgb(66, 184, 221);
  }


  .button:hover {
    color: white;
    background: rgb(42, 106, 193);
  }
  .button-success:hover {
    color: white;
    background: rgb(28, 184, 65);
  }
  .button-error:hover {
    color: white;
    background: rgb(202, 60, 60);
  }
  .button-warning:hover {
    color: white;
    background: rgb(223, 117, 20);
  }
  .button-secondary:hover {
    color: white;
    background: rgb(66, 184, 221);
  } 

  .div-buttons{
    display: block; 
    float: right; 
    margin-bottom: 20px;
    height: auto;
    min-height: 40px;
  }
  .div-button{
    float: right;
  }
</style>


<div class="div-buttons">
  <div *ngFor="let button of buttons" class="div-button">
      <span *ngIf="button.type === 'text'">
        <div class="button {{button.class}}" (click)="actionButton(button.value)">{{button.value}}</div> 
      </span>
      <!-- <div *ngIf="button.type == 'web_url'">
        <a href="button.url" target="_blank">{{button.title}}</a>
      </div> -->
  </div>
</div>


