<div id="buttons-in-message">
  
  <span *ngFor="let button of buttons" class="div-button">
      
      <chat-text-button-attachment *ngIf="button.type === 'text' && isLastMessage === true" class="div-button"
        [button]="button"
        [themeColor]="stylesMap.get('themeColor')"
        [foregroundColor]="stylesMap.get('foregroundColor')"
        (onButtonClicked)="returnOnAttachmentButtonClicked($event)">
      </chat-text-button-attachment>

      <chat-link-button-attachment *ngIf="button.type === 'url'" class="div-button"
        [button]="button"
        [themeColor]="stylesMap.get('themeColor')"
        [foregroundColor]="stylesMap.get('foregroundColor')"
        (onButtonClicked)="returnOnAttachmentButtonClicked($event)">
      </chat-link-button-attachment>

      <chat-action-button-attachment *ngIf="button.type === 'action' && isLastMessage === true" class="div-button"
        [button]="button"
        [themeColor]="stylesMap.get('themeColor')"
        [foregroundColor]="stylesMap.get('foregroundColor')"
        (onButtonClicked)="returnOnAttachmentButtonClicked($event)">
      </chat-action-button-attachment>

      <!-- <div class="alt">{{button.value}}</div> -->
      <!-- <div *ngIf="button.type === 'text' && isLastMessage === true" class="button-in-msg {{button.type}}" (click)="actionButtonText(button)" title="{{button.value}}">
        {{button.value}}
      </div> -->

      <!-- <div *ngIf="button.type === 'url'" class="button-in-msg {{button.type}}" (click)="actionButtonUrl(button)" title="{{button.value}}"> 
        <span *ngIf="button.target !== 'self'" class="icon-button-action">
          <!- - <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="12px" height="12px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5z"/>
          </svg> - ->
          <svg style="transform: rotateZ(45deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
          </svg>
        </span>
        
        {{button.value}} 
        <div class="clear"></div>
      </div>  -->

      <!-- <div *ngIf="button.type === 'action' && isLastMessage === true" #actionButton id="actionButton" class="button-in-msg {{button.type}}" (click)="actionButtonAction(button)" title="{{button.value}}">
        {{button.value}}
      </div>  -->

      <!-- <button tabindex="1413" [disabled]="!preChatFormGroup.controls.name.valid || !preChatFormGroup.controls.email.valid" class="c21-button-primary" (click)="openNewConversation()" [ngStyle]="{'background-color': g.themeColor, 'border-color': g.themeColor, 'color': g.themeForegroundColor }">
        
    </button> -->

  </span>
</div>